# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
env/
venv/
zdcoenv/
.Python
build/
dist/
*.log
.cache/
.tox/
.nox/
.coverage
coverage.xml
htmlcov/
.ipynb_checkpoints/

# === Node / Frontend ===
node_modules/
dist/
*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Editor / System Files ===
.vscode/
.idea/
.DS_Store

# === Project Specific Exclusions ===
.env
afiqdb.pgsql
